

<h1>Unsplash API + <span> ANGULAR
</span>
</h1>
<div class="container">
  <form (ngSubmit)="testPhotoByTitle(formRef)" #formRef="ngForm">
    <input id="photoByTitle" type="text" name="title" minlength="1" ngModel required placeholder="cat, dog, sun...">
    


    <select name="selectColor" ngModel required>
      <option disabled selected value> colore </option>
      <option *ngFor="let color of colorsList" value={{color}}>{{color}}</option>
    </select>

    <select name="selectOrientation" ngModel required>
      <option disabled selected value> orientamento </option>
      <option *ngFor="let orientation of orientationsList" value={{orientation}}>{{orientation}}</option>
    </select>

    <button type="submit">cerca immaggine <i class="fa-solid fa-magnifying-glass"></i></button>

  </form>
</div>
<div class="container gallery">
  <div class="image" *ngFor="let photo of photoArrRes">
    <img src={{photo.urls.small}} alt="">
  </div>
</div>



<router-outlet></router-outlet>